@import "~@angular/material/theming";
@include mat-core();

// Typography
$typography-configuration-1: mat-typography-config(
  $font-family: Poppins,
  $headline: mat-typography-level(24px, 48px, 400),
  $body-1: mat-typography-level(14px, 24px, 400),
);
$typography-configuration-2: mat-typography-config(
  $font-family: 'Roboto, "Helvetica Neue", sans-serif',
  // $display-4: mat-typography-level(18px, 28px, 300),
  // $display-3: mat-typography-level(20px, 32px, 400),
  // $display-2: mat-typography-level(22px, 36px, 400),
  // $display-1: mat-typography-level(24px, 40px, 400),
  $headline: mat-typography-level(24px, 48px, 400),
  // $title: mat-typography-level(40px, 32px, 500),
  // $subheading-2: mat-typography-level(26px, 28px, 400),
  // $subheading-1: mat-typography-level(28px, 30px, 400),
  // $body-2: mat-typography-level(10px, 22px, 400),
  $body-1: mat-typography-level(12px, 24px, 400),
  // $caption: mat-typography-level(20px, 24px, 400),
  // $button: mat-typography-level(24px, 14px, 500),
  // $input: mat-typography-level(24px, 1.125, 400),
);

// Light theme - Blue and indigo (Default)
$blue-n-indigo-light-primary: mat-palette($mat-blue);
$blue-n-indigo-light-accent: mat-palette($mat-indigo);
$blue-n-indigo-light-warn: mat-palette($mat-red);

$blue-n-indigo-light-theme: mat-light-theme(
  $blue-n-indigo-light-primary,
  $blue-n-indigo-light-accent,
  $blue-n-indigo-light-warn
);

.blue-n-indigo-light-theme {
  @include angular-material-theme($blue-n-indigo-light-theme);
  @include mat-core($typography-configuration-1);
}

// Light theme - Deep purple and Amber
$deep-purple-n-amber-light-primary: mat-palette($mat-deep-purple);
$deep-purple-n-amber-light-accent: mat-palette($mat-amber);
$deep-purple-n-amber-light-warn: mat-palette($mat-red);

$deep-purple-n-amber-light-theme: mat-light-theme(
  $deep-purple-n-amber-light-primary,
  $deep-purple-n-amber-light-accent,
  $deep-purple-n-amber-light-warn
);

.deep-purple-n-amber-light-theme {
  @include angular-material-theme($deep-purple-n-amber-light-theme);
  @include mat-core($typography-configuration-1);
}

// Dark theme - Pink and blue grey
$pink-n-blue-grey-dark-primary: mat-palette($mat-pink);
$pink-n-blue-grey-dark-accent: mat-palette($mat-blue-grey);
$pink-n-blue-grey-dark-warn: mat-palette($mat-red);

$pink-n-blue-grey-dark-theme: mat-dark-theme(
  $pink-n-blue-grey-dark-primary,
  $pink-n-blue-grey-dark-accent,
  $pink-n-blue-grey-dark-warn
);

.pink-n-blue-grey-dark-theme {
  @include angular-material-theme($pink-n-blue-grey-dark-theme);
  @include mat-core($typography-configuration-2);
  .card {
    // position: relative;
    // word-wrap: break-word;
    background-color: rgba(0,0,0,.125);
    // background-clip: border-box;
    // border: 0px solid rgba(0,0,0,.125) !important;
    // border-radius: 8px !important;
    // box-shadow: 0px 0px 58px rgba(0, 0, 0, 0.05) !important;
  
  }
}

// Light theme - Indigo and pink
$indigo-n-pink-light-primary: mat-palette($mat-indigo);
$indigo-n-pink-light-accent: mat-palette($mat-pink);
$indigo-n-pink-light-warn: mat-palette($mat-red);

$indigo-n-pink-light-theme: mat-light-theme(
  $indigo-n-pink-light-primary,
  $indigo-n-pink-light-accent,
  $indigo-n-pink-light-warn
);

.indigo-n-pink-light-theme {
  @include angular-material-theme($indigo-n-pink-light-theme);
  @include mat-core($typography-configuration-1);
}

@mixin button-margin {
  margin: 1px;
}
@mixin button-hover{
  background-color: lightgrey;
}
.mat-mini-fab {
  @include button-margin;
}
.mat-icon-button:hover{
  @include button-hover;
}