<section>
    <div class="container-fluid mt-2">

        <!-- Header Start -->
        <div class="row">
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 mt-5">
                <p class="mb-0 form-head">Manage Income</p>                
            </div>
            <div class="col-sm-2 mb-2 my-5">
                <button mat-button class="btn3" style="color: #3F51B5;" routerLink="/pages/Add-income">
                    Add Income
                </button>
            </div>            
        </div>
        <!-- Header End -->
        <div class="row mt-4">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <form [formGroup]="incomeFilterForm">
                    <div class="card">
                        <div class="row">
                            <div class="col-auto mt-3">
                                <div class="row">
                                    <div class="col-auto" style="padding: 10px 0px;width: max-content;">
                                        <mat-label class="label mt-1">
                                            Select Date Range
                                        </mat-label>
                                    </div>
                                    <div class="col-auto">
                                        <mat-form-field appearance="outline" style="font-size: 11px;">
                                            <!-- <mat-label>Enter a date range</mat-label> -->
                                           <b> <mat-date-range-input [rangePicker]="picker">
                                              <input matStartDate formControlName="fdt" placeholder="Start date">
                                              <input matEndDate formControlName="tdt" placeholder="End date">
                                            </mat-date-range-input> </b>
                                            <!-- <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint> -->
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-date-range-picker #picker></mat-date-range-picker>
                                          
                                            <!-- <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                                            <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error> -->
                                          </mat-form-field>                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto mt-3">
                                <div class="row">
                                    <div class="col-auto"
                                        style="text-align:center;padding: 10px 0px;width: max-content;">
                                        <mat-label class="label mt-1">
                                            Type
                                        </mat-label>
                                    </div>
                                    <div class="col-auto">
                                        <mat-form-field appearance="outline" style="font-size: 11px">
                                            <b><mat-select placeholder="Select Type" formControlName="exptype">
                                                <mat-option *ngFor="let data of allIncometype" [value]="data.typeName">{{data.typeName}}</mat-option>
                                               
                                            </mat-select></b>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-auto mt-3">
                                <div class="row">
                                    <div class="col-auto">
                                        <mat-form-field appearance="outline" style="font-size: 11px">
                                            <b><input matInput placeholder="Uday Sharma"></b>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="col-auto">
                                <input type="text">
                            </div>-->
                            <div class="col-auto mt-4">
                                <span><button class="btn btn-apply" type="submit" (click)="incomeFilter()"
                                        style="color: #ffff;">Apply</button></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!---- INCOME CARD START ---->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card my-4">

                    <!-- SEARCH BAR && ICONS -->
                    <div class="row justify-content-between px-1">
                        <div class="col-sm-6 px-4">
                            <mat-form-field style="width: 26%;">
                                <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6 mt-2">
                            <span class="badge badge-secondary btn-s ml-4">
                                <i class="fa fa-print" aria-hidden="true" style="color:black;"></i>
                            </span>
                            <span class="badge badge-secondary btn-s ml-4">
                                <i class="fa fa-cloud-download" aria-hidden="true" style="color:black;"></i>
                            </span>
                            <span class="badge badge-secondary btn-s ml-4">
                                <i class="fa fa-cog" aria-hidden="true" style="color:black;"></i>
                            </span>
                        </div>
                    </div>
                    <!-- SEARCH BAR && ICONS END -->

                    <!-- INCOME MATERIAL TABLE -->
                    <div class="table-responsive px-5 pl-5">
                        <table mat-table [dataSource]="incomeData" matSort>
                      
                        <ng-container matColumnDef="incomeId">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Income ID </th>
                            <td mat-cell *matCellDef="let element"><span *ngIf="!element.incomeId"></span> {{element.incomeId}} </td>
                            
                        </ng-container>
        
                          <!-- Position Column -->
                          <ng-container matColumnDef="incomeDate" >
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                            <td mat-cell *matCellDef="let element"><span *ngIf="!element.incomeDate"></span> {{element.incomeDate}} </td>
                          </ng-container>
                      
                          <!-- Name Column -->
                          <ng-container matColumnDef="incomeTypeName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                            <td mat-cell *matCellDef="let element"><span *ngIf="!element.incomeTypeName"></span> {{element.incomeTypeName}} </td>
                          </ng-container>
                      
                          <!-- Weight Column -->
                          <ng-container matColumnDef="currencynameandamount">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Currency and Amount
                            </th>
                            <td mat-cell *matCellDef="let element"><span *ngIf="!element.currencyName"></span> {{element.currencySymbol}} {{element.amount}} </td>
                          </ng-container>
                      
                          <!-- Trip ID & Name Column -->
                          <ng-container matColumnDef="tripId">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Trip ID & Name </th>
                            <td mat-cell *matCellDef="let element"><span *ngIf="!element.tripId">NA</span> {{element.tripId}} </td>
                          </ng-container>
                           <!--  Vehical Number -->
                           <ng-container matColumnDef="vehical-number">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Vehicle Number </th>
                            <td mat-cell *matCellDef="let element"><span *ngIf="!element.tripId"></span> {{element.vehicleId ? element.vehicleId : 'NA'}} </td>
                          </ng-container>

                            <!-- Driver Name -->
                            <ng-container matColumnDef="driver-name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Driver Name </th>
                                <td mat-cell *matCellDef="let element"><span *ngIf="!element.tripId"></span> {{element.deviceId ? element.deviceId : 'NA'}} </td>
                              </ng-container>
                        <!-- Added by user----->
                          <ng-container matColumnDef="orgName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Added by user </th>
                            <td mat-cell *matCellDef="let element"><span *ngIf="!element.orgName"></span> {{element.orgName ? element.orgName : '---'}} </td>
                          </ng-container>
                          <!-- Expense/Bills Status ----->
                          <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Expense/Bills Status  </th>
                            <td mat-cell *matCellDef="let element">
                                <span *ngIf="element.isApproved == false || element.isApproved == null" style="color: #FFAA2B;
                                font-weight: 600;font-size: 12px;">Pending</span>
                                <span *ngIf="element.isApproved == true" style="font-weight: 600;font-size: 12px;
                            color: #34C654;">Successful</span>
                             </td>
                          </ng-container>
                          <!-- Action ----->
                          <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef>Action</th>
                            <td mat-cell *matCellDef="let element">
                                <span class="badge badge-secondary btn-s ml-4"
                                style="cursor: pointer;"
                                (click)="deleteIncome(element.incomeId)">
                                    <i class="fa fa-trash"></i>
                                </span>
                                <span class="badge badge-secondary btn-s ml-4"
                                style="cursor: pointer;"
                                    (click)="editIncomeData(element)">
                                    <i class="fa fa-edit"></i>
                                </span>
                                <span class="badge badge-secondary btn-s ml-4"
                                style="cursor: pointer;"
                                    (click)="viewExpenseDetails(element.incomeId)">
                                    <i class="fa fa-eye"></i>
                                </span>
                            </td>
                          </ng-container>
        
                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                      
                        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                       showFirstLastButtons style="float: left;"
                                       aria-label="Select page of periodic elements">
                        </mat-paginator>
                      </div>
                    <!-- INCOME MATERIAL TABLE END -->
                </div>
            </div>
        </div>
        <!---- INCOME CARD END ---->
    </div>
</section>
<ngx-spinner>
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>