.sidebar-container {
  border: 1px solid rgba(0, 0, 0, 0.5);
  height: 100%;
}
.sidebar-content {
  display: flex;
  height: 100%;
  align-items: flex-start;
  justify-content: start;
  padding: 20px;
}

.full-width {
  width: 100%;
}

.flex-expand {
  flex: 1 1 auto;
}

.top-toolbar {
  z-index: 5;
  position:relative;
}
