.para {
    color: #3F51B5;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Poppins';
}

.box {
    background: #F3F3F3;
    padding: 3px 10px;
    font-weight: 500;
    font-size: 14px;
    color: black;
}

#row {
    border-bottom: 1px solid #EAEAEA;
}